@charset "UTF-8";
html, body {
    font-family: source-sans-pro, "Roboto", sans-serif;
    font-size:   large;
    height:      100%;
    margin:      0;
}

.container {
    display:   flex;
    flex-wrap: wrap;
}

.item {
    flex-grow:   1;
    flex-shrink: 3;
}

.box {
    margin:     2ch;
    padding:    2ch;
    text-align: left;
    border:     solid;
}

@media screen and (max-width: 990px) {
    h1 {
        font-size: x-large;
    }
}