@charset "UTF-8";
html, body {
    font-family: "Roboto", sans-serif;
    font-size:   16pt;
    height:      100%;
    margin:      0;
}

.container {
    display:         flex;
    justify-content: space-around;
}

.box {
    flex-grow:   1;
    flex-shrink: 3;
    margin:      2ch;
    padding:     2ch;
    text-align:  left;
    border:      solid;
}

@media screen and (max-width: 990px) {
    .container {
        flex-wrap: wrap;
    }

    .box:first-child {
        flex-basis: 100%;
    }
}