@charset "UTF-8";
html, body {
    font-family: source-sans-pro, "Roboto", sans-serif;
    font-size:   large;
    height:      100%;
    margin:      0;
}

.container {
    display: flex;
}

.item {
    flex: 1 2 auto;
}

.box {
    margin:  2ch;
    padding: 2ch;
    border:  solid;
}

ul {
    text-align: left;
}

@media screen and (max-width: 990px) {
    .container {
        flex-wrap: wrap;
    }

    .item {
        flex-basis: 100%;
    }

    h1 {
        font-size: x-large;
    }
}